@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
  --background : #F8EDEB;
  --storyFontTitle: "Kaushan Script", cursive;
  --dropShadowBox: drop-shadow(4px 4px 4px #00000040);
  --boxModelA: clamp(250px,70vw,1200px)
}

*{
  margin: 0;
  padding: 0;
}

#root {
  background: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight{
  background: #00000040;
}

.whiteBox {
  background: #ffffff;
  padding: 1rem;
  margin: 2rem 0;
  filter: var(--dropShadowBox);
  border-radius: 10px;
}

.modelA{
  width: var(--boxModelA);

  p {
    margin: 1.5rem 1rem
  }
}

header {
  display:  flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-family: var(--storyFontTitle);

  h1 {
    font-size: clamp(1.5rem, 3vw, 4rem)
  }


  #pouletino {
    width: 200px;
    transform: rotate(-10deg);
  }

  #regexLogo {
    width: 100px;
    margin-right: 2rem;
    aspect-ratio: 1;
  }
}

#regexContainer{

  #regexInput {
    border: none;
    font-size: 1rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

#exercicesContainer {
    display: flex;
    width: calc(var(--boxModelA) + 2rem);

    #order  {
      padding: 1rem;
      margin: 2rem 0;
      width: calc(var(--boxModelA) + 2rem);

      h2 {
        text-align: center;
        font-size: clamp(1.5rem, 2vw, 2rem) ;
      }

      p {
        margin: 2rem;
      }
    }
}

#stepSelection {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1rem;

  button {
    width: 150px;
    margin: 0 5px;
    font-size: 1rem;
    aspect-ratio: 5/1;
  }
}